* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  margin: 10px auto;
  padding: 10px 10px;
}
#navbar a {
  margin: 5px 20px;
  padding-right: 10px;
  text-decoration: none;
}
#content {
  margin: 20px;
  font-size: 170px;
  font-weight: 600;
  padding-left: 40px;
}

#product-details {
  width: 200px;
  margin: 40px;
  position: relative;
  bottom: 0px;
  text-align: justify;
}
#product-details h3, h4 {
  padding: 5px;
  font-size: 25px;
  font-weight: 600;
  
}
#footer {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: cornflowerblue;
  margin: 10px;
}
#footer h4{
  
  position: absolute;
  right: 20px;
  font-weight: 600px;
  
}
